{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
{% endblock %}

{% block main %}
<div class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <img id="atm" src="https://www.bing.com/images/search?view=detailV2&ccid=MGuACPev&id=D072F7A8C46301DDA9FE15EE2EC8DF27DC28675C&thid=OIP.MGuACPev_IHp0UrekZTgegAAAA&mediaurl=https%3a%2f%2fcdn4.iconfinder.com%2fdata%2ficons%2fSTROKE%2faccounting%2fpng%2f400%2fatm.png&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.306b8008f7affc81e9d14ade9194e07a%3frik%3dXGco3CffyC7uFQ%26pid%3dImgRaw%26r%3d0&exph=400&expw=400&q=atm+png&simid=607995197048323076&FORM=IRPRST&ck=998674A11BD5AA7C94D8F7C7F74D6CDB&selectedIndex=24&ajaxhist=0&ajaxserp=0" width="100" height="100">
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.js') }}" charset="utf-8"></script>
{% endblock %}
